/* Chapter 12 Practice 2 project */

body {
	background-color: darkred;
	text-align: center;
}

div#mode {
	background-color: indigo;
	width: 30%;
	font-size: 1.7em;
	text-align: center;
	margin-right: auto;
	margin-Left: auto;
	border:	orange 4px double;
	border-radius: 10px;
	cursor: pointer;
	color: white;
}

	h1 {
		color: thistle;
	}

img {
	display: block;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

li {
	border: 2px goldenrod solid;
	width: 25%;
	margin-right: auto;
	margin-left: auto;
	
}